<div>
    <div class="top flexrow">
        <section class="rest">
            <button class="company-rest gold-button" data-action="companyRest"><i class="fas fa-campground"
                    inert></i>{{localize 'ldnd5e.company.rest'}}</button>
        </section>
        <section class="currency">
            <button type="button" class="item-action unbutton always-interactive" data-action="currency"
                aria-label="{{ localize " DND5E.CurrencyManager.Title" }}">
                <i class="fa-solid fa-coins" inert></i>
            </button>
            {{#each system.currency as |c|}}
            <label aria-label="{{ c.label }}">
                <i class="currency {{ key }}" data-tooltip="{{ c.label }}"></i>
                <input type="text" class="uninput" name="system.currency.{{ c.key }}.value" value="{{ c.value }}"
                    data-dtype="Number" inputmode="numeric" pattern="[+=\-]?\d*">
            </label>
            {{/each}}
        </section>
    </div>

    <div class="middle main-content">

        <section class="basic-skills">
            <filigree-box class="skills flexcol {{#if isModel}}disabled{{/if}}">
                <h3>
                    <i class="ra ra-battered-axe" inert></i>
                    <span>{{localize 'ldnd5e.unit.combat'}}</span>
                </h3>
                <ul class="skills-list unlist">
                    {{#each skills as |skill|}}
                    <li data-key="{{skill.key}}" class="skill">
                        <a class="name rollable" data-action="roll" data-type="skill"><i
                                class="{{skill.icon}}"></i>{{skill.label}}</a>
                        <div class="bonus">
                            <span class="sign">{{skill.sign}}</span>
                            {{skill.mod}}
                        </div>
                    </li>
                    {{/each}}
                </ul>

                <div class="stamina" data-tooltip="{{localize "ldnd5e.company.stamina"}}">
                    <div class="stamina-label roboto-upper">
                        <i class="fa-solid fa-bolt"></i>
                        {{#if editable}}
                        <input type="text" class="uninput" name="system.attributes.stamina.value"
                            value="{{system.attributes.stamina.value}}" min="0" placeholder="0" data-dtype="Number">
                        {{else}}
                        <span class="value">{{system.attributes.stamina.value}}</span>
                        {{/if}}
                        <span class="separator">/</span>
                        <span class="max">{{system.attributes.stamina.max}}</span>
                    </div>
                    <div class="progress-bar stamina-bar" role="meter" aria-valuemin="0"
                        aria-valuenow="{{system.attributes.stamina.value}}"
                        aria-valuemax="{{system.attributes.stamina.max}}"
                        aria-valuetext="{{system.attributes.stamina.pct}}%"
                        style="--bar-percentage: {{system.attributes.stamina.pct}}%;"></div>
                </div>

            </filigree-box>

            <filigree-box class="saves flexcol {{#if isModel}}disabled{{/if}}">
                <h3>
                    <i class="fas fa-shield-heart" inert></i>
                    <span class="roboto-upper">{{ localize "DND5E.ClassSaves" }}</span>
                </h3>
                <ul class="saves-list unlist">
                    <li data-ability="dsp" class="save">
                        <a class="name saving-throw rollable" data-action="roll" data-type="save"><i
                                class="{{skills.dsp.icon}}"></i>{{skills.dsp.label}}</a>
                        <div class="bonus">
                            <span class="sign">{{skills.dsp.save.sign}}</span>
                            {{skills.dsp.save.mod}}
                        </div>
                    </li>

                </ul>

            </filigree-box>

            <filigree-box class="accounting flexcol">
                <h3>
                    <i class="fas fa-coins" inert></i>
                    <span class="roboto-upper">{{ localize "ldnd5e.company.accounting" }}</span>
                </h3>

                <div class="form-group units">
                    <label>{{localize 'ldnd5e.company.cost.units'}}</label>
                    <div class="form-fields">
                        <span class="denomination"><i class="currency gp"></i></span>
                        <span class="price">{{cost.units}}</span>
                    </div>
                </div>

                <div class="form-group tatics">
                    <label>{{localize 'ldnd5e.company.cost.tatics'}}</label>
                    <div class="form-fields">
                        <span class="denomination"><i class="currency gp"></i></span>
                        <span class="price">{{cost.tatics}}</span>
                    </div>
                </div>

                <div class="form-group total">
                    <label>{{localize 'ldnd5e.company.cost.total'}}</label>
                    <div class="form-fields">
                        <span class="denomination"><i class="currency gp"></i></span>
                        <span class="price">{{cost.total}}</span>
                    </div>
                </div>

                <div class="trainning" data-tooltip="{{localize 'ldnd5e.unit.trainningLoad'}}">

                    <div class="trainning-label roboto-upper">
                        <i class="ra ra-diamonds-card"></i>
                        <span class="value">{{system.attributes.trainning.value}}</span>
                        <span class="separator">/</span>
                        <span class="max">{{system.attributes.trainning.max}}</span>
                    </div>
                    <div class="trainning-load-bar progress-bar" role="meter" aria-valuemin="0"
                        aria-valuenow="{{system.attributes.trainning.value}}"
                        aria-valuemax="{{system.attributes.trainning.max}}"
                        aria-valuetext="{{system.attributes.trainning.pct}}%"
                        style="--bar-percentage: {{system.attributes.trainning.pct}}%;"></div>

                </div>

            </filigree-box>

        </section>

        <div class="units">

            <section class="items-list units-list" data-unit-list="light">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize 'ldnd5e.uTypes.light'}}</h3>

                        <div class="item-detail item-attribute fortitute" data-tooltip="ldnd5e.uAbilities.frt">
                            <i class="fas fa-hand-fist"></i>
                        </div>
                        <div class="item-detail item-attribute moral" data-tooltip="ldnd5e.uAbilities.mrl">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="item-detail item-attribute will" data-tooltip="ldnd5e.uAbilities.wll">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="item-detail item-controls"></div>
                    </div>

                    <ol class="item-list unlist">
                        {{#each units.light as |unit|}}
                        <li class="item unit" data-uuid="{{ unit.uuid }}" data-item-id="{{ unit.id }}"
                            data-entry-id="{{ unit.id }}" data-item-name="{{ unit.name }}">
                            {{!-- Row Summary --}}
                            <div class="item-row draggable">
                                {{!-- Item Name --}}
                                <div class="item-name item-action item-tooltip" role="button" data-action="clickUnit"
                                    aria-label="{{ unit.name }}">
                                    <img class="item-image gold-icon" src="{{ unit.img }}" alt="{{ unit.name }}"
                                        draggable="false">
                                    <div class="name name-stacked">
                                        <span class="title">{{unit.name}}</span>
                                    </div>
                                </div>
                                <div class="item-detail item-attribute fortitute">
                                    {{unit.system.abilities.frt.sign}}{{unit.system.abilities.frt.mod}}
                                </div>
                                <div class="item-detail item-attribute moral">
                                    {{unit.system.abilities.mrl.sign}}{{unit.system.abilities.mrl.mod}}
                                </div>
                                <div class="item-detail item-attribute will">
                                    {{unit.system.abilities.wll.sign}}{{unit.system.abilities.wll.mod}}
                                </div>
                                <div class="item-detail item-controls always-visible">
                                    {{#if @root.editable}}
                                    <button type="button"
                                        class="config-button unbutton item-control item-action always-interactive"
                                        data-action="removeUnit" data-tooltip="ldnd5e.company.removeUnit"
                                        aria-label="{{ localize 'ldnd5e.company.removeUnit' }}">
                                        <i class="fas fa-trash" inert></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </section>

            <section class="items-list units-list" data-unit-list="heavy">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize 'ldnd5e.uTypes.heavy'}}</h3>

                        <div class="item-detail item-attribute fortitute" data-tooltip="ldnd5e.uAbilities.frt">
                            <i class="fas fa-hand-fist"></i>
                        </div>
                        <div class="item-detail item-attribute moral" data-tooltip="ldnd5e.uAbilities.mrl">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="item-detail item-attribute will" data-tooltip="ldnd5e.uAbilities.wll">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="item-detail item-controls"></div>
                    </div>

                    <ol class="item-list unlist">
                        {{#each units.heavy as |unit|}}
                        <li class="item unit" data-uuid="{{ unit.uuid }}" data-item-id="{{ unit.id }}"
                            data-entry-id="{{ unit.id }}" data-item-name="{{ unit.name }}">
                            {{!-- Row Summary --}}
                            <div class="item-row draggable">
                                {{!-- Item Name --}}
                                <div class="item-name item-action item-tooltip" role="button" data-action="clickUnit"
                                    aria-label="{{ unit.name }}">
                                    <img class="item-image gold-icon" src="{{ unit.img }}" alt="{{ unit.name }}"
                                        draggable="false">
                                    <div class="name name-stacked">
                                        <span class="title">{{unit.name}}</span>
                                    </div>
                                </div>
                                <div class="item-detail item-attribute fortitute">
                                    {{unit.system.abilities.frt.sign}}{{unit.system.abilities.frt.mod}}
                                </div>
                                <div class="item-detail item-attribute moral">
                                    {{unit.system.abilities.mrl.sign}}{{unit.system.abilities.mrl.mod}}
                                </div>
                                <div class="item-detail item-attribute will">
                                    {{unit.system.abilities.wll.sign}}{{unit.system.abilities.wll.mod}}
                                </div>
                                <div class="item-detail item-controls always-visible">
                                    {{#if @root.editable}}
                                    <button type="button"
                                        class="config-button unbutton item-control item-action always-interactive"
                                        data-action="removeUnit" data-tooltip="ldnd5e.company.removeUnit"
                                        aria-label="{{ localize 'ldnd5e.company.removeUnit' }}">
                                        <i class="fas fa-trash" inert></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </section>

            <section class="items-list units-list" data-unit-list="special">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize 'ldnd5e.uTypes.special'}}</h3>

                        <div class="item-detail item-attribute fortitute" data-tooltip="ldnd5e.uAbilities.frt">
                            <i class="fas fa-hand-fist"></i>
                        </div>
                        <div class="item-detail item-attribute moral" data-tooltip="ldnd5e.uAbilities.mrl">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="item-detail item-attribute will" data-tooltip="ldnd5e.uAbilities.wll">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="item-detail item-controls"></div>
                    </div>

                    <ol class="item-list unlist">
                        {{#each units.special as |unit|}}
                        <li class="item unit" data-uuid="{{ unit.uuid }}" data-item-id="{{ unit.id }}"
                            data-entry-id="{{ unit.id }}" data-item-name="{{ unit.name }}">
                            {{!-- Row Summary --}}
                            <div class="item-row draggable">
                                {{!-- Item Name --}}
                                <div class="item-name item-action item-tooltip" role="button" data-action="clickUnit"
                                    aria-label="{{ unit.name }}">
                                    <img class="item-image gold-icon" src="{{ unit.img }}" alt="{{ unit.name }}"
                                        draggable="false">
                                    <div class="name name-stacked">
                                        <span class="title">{{unit.name}}</span>
                                    </div>
                                </div>
                                <div class="item-detail item-attribute fortitute">
                                    {{unit.system.abilities.frt.sign}}{{unit.system.abilities.frt.mod}}
                                </div>
                                <div class="item-detail item-attribute moral">
                                    {{unit.system.abilities.mrl.sign}}{{unit.system.abilities.mrl.mod}}
                                </div>
                                <div class="item-detail item-attribute will">
                                    {{unit.system.abilities.wll.sign}}{{unit.system.abilities.wll.mod}}
                                </div>
                                <div class="item-detail item-controls always-visible">
                                    {{#if @root.editable}}
                                    <button type="button"
                                        class="config-button unbutton item-control item-action always-interactive"
                                        data-action="removeUnit" data-tooltip="ldnd5e.company.removeUnit"
                                        aria-label="{{ localize 'ldnd5e.company.removeUnit' }}">
                                        <i class="fas fa-trash" inert></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </section>

            <section class="items-list units-list" data-unit-list="medical">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize 'ldnd5e.uTypes.medical'}}</h3>
                    </div>

                    <ol class="item-list unlist">
                        {{#each units.medical as |unit|}}
                        <li class="item unit" data-uuid="{{ unit.uuid }}" data-item-id="{{ unit.id }}"
                            data-entry-id="{{ unit.id }}" data-item-name="{{ unit.name }}">
                            {{!-- Row Summary --}}
                            <div class="item-row draggable">
                                {{!-- Item Name --}}
                                <div class="item-name item-action item-tooltip" role="button" data-action="clickUnit"
                                    aria-label="{{ unit.name }}">
                                    <img class="item-image gold-icon" src="{{ unit.img }}" alt="{{ unit.name }}"
                                        draggable="false">
                                    <div class="name name-stacked">
                                        <span class="title">{{unit.name}}</span>
                                    </div>
                                </div>
                                <div class="item-detail item-controls always-visible">
                                    {{#if @root.editable}}
                                    <button type="button"
                                        class="config-button unbutton item-control item-action always-interactive"
                                        data-action="removeUnit" data-tooltip="ldnd5e.company.removeUnit"
                                        aria-label="{{ localize 'ldnd5e.company.removeUnit' }}">
                                        <i class="fas fa-trash" inert></i>
                                    </button>
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </section>

        </div>
    </div>
</div>