<ol class="items-list inventory-list">
{{#each sections as |section sid|}}
    {{#if section.ar}} 
    <div class="items-section card">
    <div class="items-header header flexrow">
        <h3 class="item-name flexrow">{{localize section.label}}</h3>
        
        <div class="item-detail">{{localize "ldnd5e.profTitle"}}</div>
        <div class="item-detail">{{localize "ldnd5e.conTitle"}}</div>
        <div class="item-detail">{{localize "ldnd5e.exauTitle"}}</div>       
    </div>

    <ol class="item-list">
    {{#each section.actors as |actor aid|}}
        <li class="item flexrow {{section.css}}"
            data-actor-id="{{actor.id}}">
            <div class="item-name flexrow">    
                <div class="item-image actor-portrait" tabindex="0" role="button" aria-label="{{actor.name}}" style="background-image: url('{{actor.img}}')"></div>
                <h4 class="ar-control">{{actor.name~}}</h4>                                            
            </div>
            <div class="item-detail">{{actor.system.profMod}}</div>
            <div class="item-detail">{{actor.system.abilities.con.strMod}}</div>
            <div class="item-detail">{{actor.system.attributes.exhaustion}}</div>   
        </li>
    {{/each}}
    </ol>
    </div>
    {{/if}}
{{/each}}
</ol>