<ol class="unit-header flexrow">
    <div class="unit-summary flexrow" data-unit-id="{{unit.id}}">
        <img class="profile" src="{{unit.img}}" title="{{unit.name}}" data-edit="img"/>
        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{unit.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="cr">
                    <label>{{ localize "DND5E.AbbreviationCR" }}</label>
                    <input name="system.details.cr" type="text" value="{{labels.cr}}" placeholder="1"/>
                </div>
                <div class="experience">
                    <span>{{system.details.xp.value}} XP</span>
                </div>
                <div class="proficiency">
                    <span>
                        {{ localize "DND5E.Proficiency" }} {{labels.proficiency}}
                    </span>
                </div>
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li>
                    <span>{{lookup config.actorSizes system.traits.size}}</span>
                </li>
                <li>
                    <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}"/>
                </li>
                <li class="creature-type">
                    <span title="{{labels.type}}">{{labels.type}}</span>
                    <a class="config-button" data-action="type" title="{{localize 'DND5E.CreatureTypeConfig'}}"><i class="fas fa-cog"></i></a>
                </li>
                <li>
                    <input type="text" name="system.details.source" value="{{system.details.source}}" placeholder="{{ localize 'DND5E.Source' }}"/>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title rollable">{{ localize "DND5E.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.hp.value" type="number" step="any"
                            value="{{system.attributes.hp.value}}" placeholder="10"
                            title="{{localize 'DND5E.HitPointsCurrent'}}">
                        <span class="sep"> / </span>
                        <input name="system.attributes.hp.max" type="number" step="any"
                            value="{{system.attributes.hp.max}}" placeholder="10"
                            title="{{localize 'DND5E.HitPointsMax'}}">
                    </div>
                    <footer class="attribute-footer flexrow">
                        <input name="system.attributes.hp.formula" class="hpformula" type="text"
                            placeholder="{{ localize 'DND5E.HPFormula' }}"
                            value="{{system.attributes.hp.formula}}"
                            title="{{localize 'DND5E.HPFormula'}}">
                        <input name="system.attributes.hp.temp" type="number" step="any" class="temphp"
                            placeholder="+{{localize 'DND5E.Temp'}}"
                            value="{{system.attributes.hp.temp}}"
                            title="{{localize 'DND5E.HitPointsTemp'}}">
                    </footer>
                </li>

                <li class="attribute armor">
                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.ArmorClass" }}
                        <a class="config-button" data-action="armor" title="{{localize 'DND5E.ArmorConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value attributable" data-property="attributes.ac">
                        <span>{{system.attributes.ac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{labels.armorType}}</span>
                    </footer>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'DND5E.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>
            </ul>
        </section>
    </div>
</ol>