<div class="deck-controls">
    <div class="company-tabs {{#if state.sidebar.tabs}}active{{/if}}">
        {{#each companies as |company idx|}}
        <a class="item control {{#if (eq ../currentCompanyIdx idx)}}active{{/if}}" type="button"
            data-action="switchCompany" data-idx="{{idx}}" data-tooltip="{{company.name}}" ,
            data-tooltip-direction="LEFT">
            <img class="gold-icon{{#if company.img.svg}} svg{{/if}}" src="{{company.img.src}}">
        </a>
        {{/each}}
    </div>

    <section class="battle-controls side-controls {{#if state.sidebar.control}}active{{/if}}">
        <div class="header">
            <button type="button" class="header-control icon fa-solid fa-xmark"
                data-tooltip="{{localize 'ldnd5e.battle.closeDeck'}}" aria-label="{{localize 'ldnd5e.battle.close'}}"
                data-action="toggleDeckControls">
            </button>
            <h2 class="title">{{title}}</h2>
        </div>
        <div class="content">
            {{#with score}}
            <div class="scoreboard">

                <div class="score top">
                    <span class="impetus">{{enemy.impetus}} <i class="ra ra-all-for-one" inert></i></span>
                    <span class="atk-points">{{enemy.attack}} <i class="ra ra-broken-skull" inert></i></span>
                </div>

                <div class="score bottom">
                    <span class="impetus">{{ally.impetus}} <i class="ra ra-all-for-one" inert></i></span>
                    <span class="atk-points">{{ally.attack}} <i class="ra ra-broken-skull" inert></i></span>
                </div>

            </div>
            {{/with}}

            <filigree-box class="hand tatics">
                <h3>
                    <img class="svg" src="{{icons.deckTiny}}">
                    <span>{{localize 'ldnd5e.battle.hand'}}</span>
                </h3>
                <div class="cards-counter">{{deck.counter.hand}} <i class="ra ra-diamonds-card"></i></div>
                <div class="deck-section">
                    <ol class="cards-list unlist">
                        {{#each deck.list.hand as |tatic|}}
                        <li class="tatic-card" data-tatic-uuid="{{tatic.uuid}}" data-unit-id="{{tatic.unit.id}}">
                            <div class="card-row">
                                <img class="gold-icon {{#if tatic.img.svg}} svg{{/if}}" src="{{tatic.img.src}}">
                                <div class="card-content hand">
                                    <a class="card-link rollable" data-action="useTatic" data-type="tatic">
                                        <span class="name">{{tatic.name}}</span>
                                    </a>
                                    <div class="unit-info">
                                        {{#with tatic.unit}}
                                        <span class="impetus">
                                            <span class="sign">{{ impetus.sign }}</span>
                                            {{ impetus.mod }}
                                            <i class="ra ra-all-for-one" inert></i>
                                        </span>
                                        {{/with}}
                                        <a class="unit-link" data-action="clickUnit">
                                            <span class="unit-name">{{tatic.unit.name}}</span>
                                        </a>
                                    </div>
                                </div>
                                <a class="card-control" data-action="discardTatic"
                                    data-tooltip="{{localize 'ldnd5e.battle.discardCard'}}"
                                    data-tooltip-direction="RIGHT">
                                    <i class="fa-solid fa-arrow-turn-down"></i>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
                <div class="hand-actions">
                    <button class="draw-card" type="button" data-action="drawCard" data-type="tatic">
                        <i class="fas fa-hand-holding-medical"></i>
                        {{localize 'ldnd5e.battle.drawHand'}}
                    </button>
                </div>
            </filigree-box>

            <div class="extra-decks">
                <button class="deck-button full-deck {{#if (eq state.sidebar.viewer "full")}}active{{/if}}"
                    type="button" data-action="toggleExtraDeck" data-deck="full">
                    <img class="svg" src="{{icons.full}}">
                </button>
                <button class="deck-button discarded-deck {{#if (eq state.sidebar.viewer "discarded")}}active{{/if}}"
                    type="button" data-action="toggleExtraDeck" data-deck="discarded">
                    <img class="svg" src="{{icons.discarded}}">

                    <a class="pip-counter {{#if (eq deck.counter.discarded 0)}}hidden{{/if}}">
                        {{deck.counter.discarded}}
                    </a>
                </button>
                <button class="deck-button assets-deck {{#if (eq state.sidebar.viewer "assets")}}active{{/if}}"
                    type="button" data-action="toggleExtraDeck" data-deck="assets">
                    <img class="svg" src="{{icons.assets}}">
                </button>
            </div>

            <hr class="ampersand">

            <section class="company-summary basic-skills">

                <filigree-box class="skills flexcol">
                    <h3>
                        <i class="ra ra-battered-axe" inert></i>
                        <span>{{localize 'ldnd5e.battle.summary'}}</span>
                    </h3>
                    <ul class="skills-list unlist">
                        {{#each skills as |skill|}}
                        <li data-key="{{skill.key}}" class="skill">
                            <a class="name rollable" data-action="roll" data-type="skill"><i
                                    class="{{skill.icon}}"></i>{{skill.label}}</a>
                            <div class="bonus">
                                <span class="sign">{{skill.sign}}</span>
                                {{skill.mod}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </filigree-box>

                <filigree-box class="saves flexcol">
                    <h3>
                        <i class="fas fa-shield-heart" inert></i>
                        <span class="roboto-upper">{{ localize "DND5E.ClassSaves" }}</span>
                    </h3>
                    <ul class="saves-list unlist">
                        <li data-ability="dsp" class="save">
                            <a class="name rollable" data-action="roll" data-type="save"><i
                                    class="{{skills.dsp.icon}}"></i>{{skills.dsp.label}}</a>
                            <div class="bonus">
                                <span class="sign">{{skills.dsp.save.sign}}</span>
                                {{skills.dsp.save.mod}}
                            </div>
                        </li>

                    </ul>

                </filigree-box>

            </section>

            <section class="units-summary">

                <filigree-box class="units flexcol">
                    <h3 {{#if multipleCompanies}}class="multiple-companies" data-action="toggleCompanySelect" {{/if}}>
                        <i class="ra ra-knight-helmet" inert></i>
                        <span>{{localize 'ldnd5e.battle.units'}}</span>
                    </h3>
                    <ul class="units-list unlist">
                        {{#each units as |unit|}}
                        <li class="unit {{#unless unit.deployed}} draggable{{/unless}}" data-unit-id="{{unit.id}}"
                            data-drag-type="link" draggable="{{#unless unit.deployed}}true{{else}}false{{/unless}}">
                            <a class="unit-link rollable" data-action="clickUnit">
                                <img class="gold-icon" src="{{unit.img}}">
                                <span class="name">{{unit.name}}</span>
                                {{#if unit.deployed}}<i class="ra ra-skull-trophy"
                                    data-tooltip="{{localize 'ldnd5e.unit.deployed'}}"></i>{{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </filigree-box>

            </section>

        </div>
    </section>

    <div class="extra-decks-viewer {{#if (ne state.sidebar.viewer "")}}active{{/if}}"
        data-deck="{{state.sidebar.viewer}}">

        <div class="deck-section full {{#unless (eq state.sidebar.viewer "full")}}hidden{{/unless}}">
            <h4 class="title">{{localize 'ldnd5e.battle.extraDecks.full'}}</h4>
            <div class="deck-container">
                <div class="cards-counter">{{deck.counter.tatics}} <i class="ra ra-diamonds-card"></i></div>
                <ol class="cards-list unlist">
                    {{#each deck.list.piles.tatics as |tatic|}}
                    <li class="tatic-card" data-tatic-uuid="{{tatic.uuid}}" data-unit-id="{{tatic.unit.id}}">
                        <div class="card-row">
                            <img class="gold-icon {{#if tatic.img.svg}} svg{{/if}}" src="{{tatic.img.src}}">
                            <div class="card-content">
                                <a class="card-link rollable" data-action="showTatic">
                                    <span class="name">{{tatic.name}}</span>
                                </a>
                                <a class="unit-link" data-action="clickUnit">
                                    <span class="unit-name">{{tatic.unit.name}}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="deck-actions">
                    <button class="shuffle-card" type="button" data-action="shuffleDeck" data-type="tatic">
                        <i class="fas fa-shuffle"></i>
                        {{localize 'ldnd5e.battle.shuffleDeck'}}
                    </button>
                </div>
            </div>
        </div>

        <div class="deck-section discarded {{#unless (eq state.sidebar.viewer "discarded")}}hidden{{/unless}}">
            <h4 class="title">{{localize 'ldnd5e.battle.extraDecks.discarded'}}</h4>
            <div class="deck-container">
                <div class="cards-counter">{{deck.counter.discarded}} <i class="ra ra-diamonds-card"></i></div>
                <ol class="cards-list unlist">
                    {{#each deck.list.piles.discarded as |tatic|}}
                    <li class="tatic-card" data-tatic-uuid="{{tatic.uuid}}" data-unit-id="{{tatic.unit.id}}">
                        <div class="card-row">
                            <img class="gold-icon {{#if tatic.img.svg}} svg{{/if}}" src="{{tatic.img.src}}">
                            <div class="card-content">
                                <a class="card-link rollable" data-action="showTatic">
                                    <span class="name">{{tatic.name}}</span>
                                </a>
                                <a class="unit-link" data-action="clickUnit">
                                    <span class="unit-name">{{tatic.unit.name}}</span>
                                </a>
                            </div>
                            <a class="card-control" data-action="restoreTatic"
                                data-tooltip="{{localize 'ldnd5e.battle.restoreCard'}}" data-tooltip-direction="RIGHT">
                                <i class="fa-solid fa-arrow-turn-up"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="deck-actions">
                    <button class="restore-all-card" type="button" data-action="restoreAllTatics" data-type="tatic">
                        <i class="fa-solid fa-arrows-up-to-line"></i>
                        {{localize 'ldnd5e.battle.restoreAllCards'}}
                    </button>
                </div>
            </div>
        </div>

        <div class="deck-section assets {{#unless (eq state.sidebar.viewer "assets")}}hidden{{/unless}}">
            <h4 class="title">{{localize 'ldnd5e.battle.extraDecks.assets'}}</h4>
            <div class="deck-container">
                <div class="cards-counter">{{deck.counter.assets}} <i class="ra ra-diamonds-card"></i></div>
                <ol class="cards-list unlist">
                    {{#each deck.list.piles.assets as |asset|}}
                    <li class="tatic-card" data-tatic-uuid="{{asset.uuid}}" data-unit-id="{{asset.unit.id}}">
                        <div class="card-row">
                            <img class="gold-icon {{#if asset.img.svg}} svg{{/if}}" src="{{asset.img.src}}">
                            <div class="card-content">
                                <a class="card-link rollable" data-action="showAsset">
                                    <span class="name">{{asset.name}}</span>
                                </a>
                                <a class="unit-link" data-action="clickUnit">
                                    <span class="unit-name">{{asset.unit.name}}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

    </div>

</div>