<section class="events-controls side-controls {{#if state.sidebar.events}}active{{/if}}">
    <section class="header">
        <button type="button" class="header-control icon fa-solid fa-xmark"
            data-tooltip="{{localize 'ldnd5e.battle.closeDeck'}}" aria-label="{{localize 'ldnd5e.battle.close'}}"
            data-action="toggleEventsControls">
        </button>
        <h2 class="title">{{localize 'ldnd5e.battle.events'}}</h2>
    </section>
    <section class="content">

        <filigree-box class="hand events">
            <h3 class="hand-title deck-button {{#if (eq state.sidebar.viewer "events")}}active{{/if}}"
                data-action="toggleExtraDeck" data-deck="events">
                <i class="ra ra-hourglass" inert></i>
                <span>{{localize 'ldnd5e.battle.eventHand'}}</span>
            </h3>
            <div class="event">

            </div>
            <div class="hand-actions">
                <button class="draw-card" type="button" data-action="drawEvent" data-type="event">
                    <i class="ra ra-perspective-dice-six"></i>
                    {{localize 'ldnd5e.battle.drawEvent'}}
                </button>
            </div>
        </filigree-box>

        <filigree-box class="rows-control">
            <h3>
                <i class="ra ra-sideswipe" inert></i>
                <span>{{localize 'ldnd5e.battle.rowsControl'}}</span>
            </h3>
            <div class="rows-list unlist">
                <div class="top-rows field-rows">
                    <label class="field-name">{{localize 'ldnd5e.battle.fields.top'}}</label>

                    {{#each fields.top.rows}}
                    <div class="form-group row" data-row-number="{{number}}" data-row-field="top">
                        <label>{{label}}</label>
                        <div class="form-fields">
                            <select class="row-effect">
                                {{ selectOptions @root.rowEffects labelAttr="label" valueAttr="value"
                                selected=effect.value }}
                            </select>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="bottom-rows field-rows">
                    <label class="field-name">{{localize 'ldnd5e.battle.fields.bottom'}}</label>

                    {{#each fields.bottom.rows}}
                    <div class="form-group row" data-row-number="{{number}}" data-row-field="bottom">
                        <label>{{label}}</label>
                        <div class="form-fields">
                            <select class="row-effect">
                                {{ selectOptions @root.rowEffects labelAttr="label" valueAttr="value"
                                selected=effect.value }}
                            </select>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>

        </filigree-box>

    </section>

    <div class="extra-decks-viewer {{#if (ne state.sidebar.viewer "")}}active{{/if}}"
        data-deck="{{state.sidebar.viewer}}">

        <div class="deck-section events {{#unless state.sidebar.events}}hidden{{/unless}}">
            <h4 class="title">{{localize 'ldnd5e.battle.extraDecks.event'}}</h4>
            <div class="deck-container">
                <div class="cards-counter">{{deck.counter.events}} <i class="ra ra-diamonds-card"></i></div>
                <ol class="cards-list unlist">
                    {{#each deck.list.piles.events as |event|}}
                    <li class="tatic-card" data-tatic-uuid="{{event.uuid}}" data-unit-id="{{event.unit.id}}">
                        <div class="card-row">
                            <img class="gold-icon {{#if event.img.svg}} svg{{/if}}" src="{{event.img.src}}">
                            <div class="card-content">
                                <a class="card-link rollable" data-action="showEvent">
                                    <span class="name">{{event.name}}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="deck-actions">
                    <button class="shuffle-card" type="button" data-action="shuffleDeck" data-type="event">
                        <i class="fas fa-shuffle"></i>
                        {{localize 'ldnd5e.battle.shuffleDeck'}}
                    </button>
                </div>
            </div>
        </div>

    </div>

</section>