<section class="field-container">
    <div class="fields">

        <div class="top field">

            <div class="row-numbers">
                <span class="row-number" data-row="3">3 <i class="ra ra-arrow-cluster" inert></i></span>
                <span class="row-number" data-row="2">2 <i class="ra ra-sword" inert></i></span>
                <span class="row-number" data-row="1">1 <i class="ra ra-broken-shield" inert></i></span>
            </div>

            <div class="rows">
                <div class="top row">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="center row">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="bottom row">
                    <ol class="units-list">

                    </ol>
                </div>
            </div>

        </div>

        <hr class="ampersand">

        <div class="bottom field">

            <div class="row-numbers">
                <span class="row-number" data-row="1">1 <i class="ra ra-broken-shield" inert></i></span>
                <span class="row-number" data-row="2">2 <i class="ra ra-sword" inert></i></span>
                <span class="row-number" data-row="3">3 <i class="ra ra-arrow-cluster" inert></i></span>
            </div>

            <div class="rows">
                <div class="top row">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="center row">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="bottom row">
                    <ol class="units-list">

                    </ol>
                </div>
            </div>
        </div>

        <button class="deck-button" data-action="toggleDeckControls">
            <img src="{{deckIcon}}" alt="{{localize 'ldnd5e.battle.closeDeck'}}">
        </button>

    </div>

    <footer>
        {{#debug this}}{{/debug}}
        <div class="pill battle-phase">
            <i class="ra {{phase.icon}}"></i>
            {{phase.label}}
        </div>

        <div class="pill turn-counter">
            {{#with turns}}
            <div class="meter progress turns" role="meter" aria-valuemin="0" aria-valuenow="{{value}}"
                aria-valuetext="{{value}}" aria-valuemax="{{max}}"
                style="--bar-percentage: {{pct}}%; --stamina-limit: {{limit}}%;">
                <div class="label">
                    <i class="ra ra-lightning-bolt" inert=""></i>
                    <span class="value">{{current}}</span>
                    <span class="separator">/</span>
                    <span class="max">{{max}}</span>
                </div>
                <i class="breakpoint stamina-limit arrow-up" role="presentation"></i>
                <i class="breakpoint stamina-limit  arrow-down" role="presentation"></i>
            </div>   
            {{/with}}         
        </div>
    </footer>
</section>