<section class="field-container">
    <div class="fields">

        <div class="top field">

            <div class="row-numbers">
                <span class="row-number" data-row="3">3 <i class="ra ra-arrow-cluster" inert></i></span>
                <span class="row-number" data-row="2">2 <i class="ra ra-sword" inert></i></span>
                <span class="row-number" data-row="1">1 <i class="ra ra-broken-shield" inert></i></span>
            </div>

            <div class="rows">
                <div class="top row draggable" data-row="3" data-drag-counter="0">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="center row draggable" data-row="2" data-drag-counter="0">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="bottom row draggable" data-row="1" data-drag-counter="0">
                    <ol class="units-list">

                    </ol>
                </div>
            </div>

        </div>

        <hr class="ampersand">

        <div class="bottom field">

            <div class="row-numbers">
                <span class="row-number" data-row="1">1 <i class="ra ra-broken-shield" inert></i></span>
                <span class="row-number" data-row="2">2 <i class="ra ra-sword" inert></i></span>
                <span class="row-number" data-row="3">3 <i class="ra ra-arrow-cluster" inert></i></span>
            </div>

            <div class="rows">
                <div class="top row draggable" data-row="1" data-drag-counter="0">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="center row draggable" data-row="2" data-drag-counter="0">
                    <ol class="units-list">

                    </ol>
                </div>

                <div class="bottom row draggable" data-row="3" data-drag-counter="0">
                    <ol class="units-list">

                    </ol>
                </div>
            </div>
        </div>

        <div class="sidebar">

            <div class="deck-controls">
                <button class="deck-button" data-action="toggleDeckControls">
                    <img src="{{icons.deck}}" alt="{{localize 'ldnd5e.battle.openDeck'}}">
                </button>
                <button class="event-button {{#unless isGM}}hidden{{/unless}}" data-action="toggleEventControls">
                    <img src="{{icons.events}}" alt="{{localize 'ldnd5e.battle.openEvents'}}">
                </button>
            </div>

            {{#with score}}
            <div class="scoreboard">

                <div class="score top">
                    <span class="impetus">{{enemy.impetus}} <i class="ra ra-all-for-one" inert></i></span>
                    <span class="atk-points">{{enemy.attack}} <i class="ra ra-broken-skull" inert></i></span>
                </div>

                <div class="score bottom">
                    <span class="impetus">{{ally.impetus}} <i class="ra ra-all-for-one" inert></i></span>
                    <span class="atk-points">{{ally.attack}} <i class="ra ra-broken-skull" inert></i></span>
                </div>

            </div>
            {{/with}}
            
        </div>

    </div>

    <footer>
        {{#debug this}}{{/debug}}
        <div class="pill battle-phase">
            <i class="ra {{phase.icon}}"></i>
            {{phase.label}}
        </div>

        <div class="pill turn-counter">
            {{#with turns}}
            <div class="meter progress turns" role="meter" aria-valuemin="0" aria-valuenow="{{value}}"
                aria-valuetext="{{value}}" aria-valuemax="{{max}}"
                style="--bar-percentage: {{pct}}%; --stamina-limit: {{limit}}%;">
                <div class="label">
                    <i class="ra ra-lightning-bolt" inert=""></i>
                    <span class="value">{{current}}</span>
                    <span class="separator">/</span>
                    <span class="max">{{max}}</span>
                </div>
                <i class="breakpoint stamina-limit arrow-up" role="presentation"></i>
                <i class="breakpoint stamina-limit  arrow-down" role="presentation"></i>
            </div>
            {{/with}}
        </div>
    </footer>
</section>