<section class="field-container">

    <div class="sidebar-overlay{{#unless state.sidebar.overlay}} hidden{{/unless}}"></div>

    <div class="notification{{#unless setupStage}} hidden{{/unless}}">

        <div class="sign">
            <h1>{{localize 'ldnd5e.battle.notification.title'}}</h1>
            <span>{{localize 'ldnd5e.battle.notification.message'}}</span>

            <div class="sides">

                <div class="side top dropzone" data-side="top">
                    {{#unless sides.empty.top}}
                    <div class="companies-list">
                        {{#each sides.top}}
                        <div class="item company" data-uuid="{{uuid}}" data-company-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}}draggable{{/unless}}" draggable="true">
                                <img class="row-company {{#if img.svg}}svg{{/if}}" src="{{img.src}}"
                                    data-tooltip="{{name}}">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <span class="empty">{{localize 'ldnd5e.battle.fields.top'}}</span>
                    {{/unless}}
                </div>
                <a {{#if sides.ready}}class="start-battle"
                    data-tooltip="{{localize 'ldnd5e.battle.notification.start'}}" {{/if}} data-action="startBattle"
                    {{#unless isGM}}disabled{{/unless}}>
                    <i class="ra ra-crossed-swords"></i>
                </a>
                <div class="side bottom dropzone" data-side="bottom">
                    {{#unless sides.empty.bottom}}
                    <div class="companies-list">
                        {{#each sides.bottom}}
                        <div class="item company" data-uuid="{{uuid}}" data-company-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}}draggable{{/unless}}" draggable="true">
                                <img class="row-company {{#if img.svg}}svg{{/if}}" src="{{img.src}}"
                                    data-tooltip="{{name}}">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <span class="empty">{{localize 'ldnd5e.battle.fields.bottom'}}</span>
                    {{/unless}}
                </div>
            </div>
        </div>

    </div>

    <div class="fields">

        <div class="top field" data-side="top">

            <div class="row-numbers">
                <span class="row-number" data-row="3" data-row-type="rea" data-tooltip="ldnd5e.uProf.rea">3 <i
                        class="ra ra-arrow-cluster" inert></i></span>
                <span class="row-number" data-row="2" data-row-type="res" data-tooltip="ldnd5e.uProf.res">2 <i
                        class="ra ra-sword" inert></i></span>
                <span class="row-number" data-row="1" data-row-type="van" data-tooltip="ldnd5e.uProf.van">1 <i
                        class="ra ra-broken-shield" inert></i></span>
            </div>

            <div class="rows">
                <div class="top row dropzone{{#if fields.top.rows.2.hasEffect}} effect{{/if}}" data-row="3"
                    data-row-type="rea" data-drag-counter="0">
                    {{#if fields.top.rows.2.hasEffect}}
                    <span class="effect-icon" data-tooltip="{{fields.top.rows.2.effect.label}}"><i
                            class="fas {{fields.top.rows.2.effect.icon}}"></i>
                    </span>
                    {{/if}}
                    <ol class="units-list unlist">
                        {{#each rowUnits.top.rows.2.units}}
                        <li class="item unit" data-uuid="{{uuid}}" data-unit-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}} draggable{{/unless}}" draggable="true">
                                <img class="row-unit" src="{{img}}" alt="{{name}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="center row dropzone{{#if fields.top.rows.1.hasEffect}} effect{{/if}}" data-row="2"
                    data-row-type="res" data-drag-counter="0">
                    {{#if fields.top.rows.1.hasEffect}}
                    <span class="effect-icon" data-tooltip="{{fields.top.rows.1.effect.label}}"><i
                            class="fas {{fields.top.rows.1.effect.icon}}"></i>
                    </span>
                    {{/if}}
                    <ol class="units-list unlist">
                        {{#each rowUnits.top.rows.1.units}}
                        <li class="item unit" data-uuid="{{uuid}}" data-unit-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}} draggable{{/unless}}" draggable="true">
                                <img class="row-unit" src="{{img}}" alt="{{name}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="bottom row dropzone" data-row="1" data-row-type="van" data-drag-counter="0">
                    {{#if fields.top.rows.0.hasEffect}}
                    <span class="effect-icon" data-tooltip="{{fields.top.rows.0.effect.label}}"><i
                            class="fas {{fields.top.rows.0.effect.icon}}"></i>
                    </span>
                    {{/if}}
                    <ol class="units-list unlist">
                        {{#each rowUnits.top.rows.0.units}}
                        <li class="item unit" data-uuid="{{uuid}}" data-unit-id="{{id}}" data-entry-id="{{id}}"
                            data-unit-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}} draggable{{/unless}}" draggable="true">
                                <img class="row-unit" src="{{img}}" alt="{{name}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>

        </div>

        <hr class="ampersand">

        <div class="bottom field" data-side="bottom">

            <div class="row-numbers">
                <span class="row-number" data-row="1" data-row-type="van" data-tooltip="ldnd5e.uProf.van">1 <i
                        class="ra ra-broken-shield" inert></i></span>
                <span class="row-number" data-row="2" data-row-type="res" data-tooltip="ldnd5e.uProf.res">2 <i
                        class="ra ra-sword" inert></i></span>
                <span class="row-number" data-row="3" data-row-type="rea" data-tooltip="ldnd5e.uProf.rea">3 <i
                        class="ra ra-arrow-cluster" inert></i></span>
            </div>

            <div class="rows">
                <div class="top row dropzone" data-row="1" data-row-type="van" data-drag-counter="0">
                    {{#if fields.bottom.rows.0.hasEffect}}
                    <span class="effect-icon" data-tooltip="{{fields.bottom.rows.0.effect.label}}"><i
                            class="fas {{fields.bottom.rows.0.effect.icon}}"></i>
                    </span>
                    {{/if}}
                    <ol class="units-list unlist">
                        {{#each rowUnits.bottom.rows.0.units}}
                        <li class="item unit" data-uuid="{{uuid}}" data-unit-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}} draggable{{/unless}}" draggable="true">
                                <img class="row-unit" src="{{img}}" alt="{{name}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="center row dropzone" data-row="2" data-row-type="res" data-drag-counter="0">
                    {{#if fields.bottom.rows.1.hasEffect}}
                    <span class="effect-icon" data-tooltip="{{fields.bottom.rows.1.effect.label}}"><i
                            class="fas {{fields.bottom.rows.1.effect.icon}}"></i>
                    </span>
                    {{/if}}
                    <ol class="units-list unlist">
                        {{#each rowUnits.bottom.rows.1.units}}
                        <li class="item unit" data-uuid="{{uuid}}" data-unit-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}} draggable{{/unless}}" draggable="true">
                                <img class="row-unit" src="{{img}}" alt="{{name}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="bottom row dropzone" data-row="3" data-row-type="rea" data-drag-counter="0">
                    {{#if fields.bottom.rows.2.hasEffect}}
                    <span class="effect-icon" data-tooltip="{{fields.bottom.rows.2.effect.label}}"><i
                            class="fas {{fields.bottom.rows.2.effect.icon}}"></i>
                    </span>
                    {{/if}}
                    <ol class="units-list unlist">
                        {{#each rowUnits.bottom.rows.2.units}}
                        <li class="item unit" data-uuid="{{uuid}}" data-unit-id="{{id}}" data-entry-id="{{id}}"
                            data-item-name="{{name}}" data-drag-type="move">
                            <div class="item-row {{#unless @root.isViewer}} draggable{{/unless}}" draggable="true">
                                <img class="row-unit" src="{{img}}" alt="{{name}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        <div class="sidebar">

            {{#unless isViewer}}
            <div class="main-controls">
                <button class="deck-button" data-action="toggleDeckControls">
                    <img src="{{icons.deck}}" alt="{{localize 'ldnd5e.battle.openDeck'}}">
                </button>

                <button class="event-button {{#unless isGM}}hidden{{/unless}}" data-action="toggleEventsControls">
                    <img src="{{icons.events}}" alt="{{localize 'ldnd5e.battle.openEvents'}}">
                </button>
            </div>
            {{/unless}}

            {{#with score}}
            <div class="scoreboard">

                <div class="score top">
                    <span class="impetus">
                        <input type="text" class="always-interactive" value="{{ enemy.impetus }}"
                            placeholder="0" data-dtype="Number" data-property="scoreboard.top.impetus" inputmode="numeric"
                            pattern="[+=\-]?\d*" min="0" aria-label="Impetus">
                        <i class="ra ra-all-for-one" inert></i>
                    </span>
                    <span class="atk-points">
                        <input type="text" class="always-interactive" value="{{ enemy.attack }}" placeholder="0"
                            data-dtype="Number" data-property="scoreboard.top.attack" inputmode="numeric" pattern="[+=\-]?\d*"
                            min="0" aria-label="Attack">
                        <i class="ra ra-broken-skull" inert></i>
                    </span>
                </div>

                <div class="score bottom">
                    <span class="impetus">
                        <input type="text" class="always-interactive" value="{{ ally.impetus }}"
                            placeholder="0" data-dtype="Number" data-property="scoreboard.bottom.impetus" inputmode="numeric"
                            pattern="[+=\-]?\d*" min="0" aria-label="Impetus">
                        <i class="ra ra-all-for-one" inert></i>
                    </span>
                    <span class="atk-points">
                        <input type="text" class="always-interactive" value="{{ ally.attack }}" placeholder="0"
                            data-dtype="Number" data-property="scoreboard.bottom.attack" inputmode="numeric" pattern="[+=\-]?\d*"
                            min="0" aria-label="Attack">
                        <i class="ra ra-broken-skull" inert></i>
                    </span>                    
                </div>

            </div>
            {{/with}}

        </div>

    </div>

    <footer>
        <div class="pill battle-phase">
            <i class="{{stage.icon}}"></i>
            {{localize stage.label}}
        </div>

        <div class="pill turn-counter">
            {{#with turns}}
            <div class="meter progress turns" role="meter" aria-valuemin="0" aria-valuenow="{{value}}"
                aria-valuetext="{{value}}" aria-valuemax="{{max}}"
                style="--bar-percentage: {{pct}}%; --stamina-limit: 50%;">
                <div class="label">
                    <i class="ra ra-lightning-bolt" inert=""></i>
                    <span class="value">{{current}}</span>
                    <span class="separator">/</span>
                    <span class="max">{{max}}</span>
                </div>
                <i class="breakpoint stamina-limit arrow-up" role="presentation"></i>
                <i class="breakpoint stamina-limit  arrow-down" role="presentation"></i>
            </div>
            {{/with}}
        </div>
    </footer>
</section>