<div>
    <div class="top">
        <div class="ability-scores card flexrow">
            {{#each system.abilities}}
            <div class="ability-score" data-ability="{{ key }}">
                <img src="{{ icon }}" alt="{{ label }}">
                <a class="label {{ key }} rollable ability-check" data-action="roll" data-type="ability">
                    {{ label }}
                </a>
                <div class="mod">
                    {{#if @root.editable}}
                    <input type="text" class="uninput" name="system.abilities.{{ key }}.value" value="{{ value }}"
                        placeholder="0">
                    {{else}}
                    <span class="sign">{{ sign }}</span>{{ mod }}
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>

        <div class="unit-info flexrow">

            <div class="unit-description">
                <a {{#if editDescription}}class="active" {{/if}}><i class="fa-solid fa-comment"
                        data-action="showDescription"></i></a>
            </div>

            <div class="unit-price card flexrow" data-tooltip="ldnd5e.unit.price">
                <span><i class="currency gp"></i></span>
                {{#if editable}}
                <input type="text" class="uninput" name="system.info.price" value="{{ system.info.price }}"
                    placeholder="0">
                {{else}}
                <span class="price">{{ system.info.price }}</span>
                {{/if}}
            </div>

            <div class="description-tooltip{{#if editDescription}} active{{/if}}">
                <h4>{{localize 'ldnd5e.unit.descriptionTitle'}}</h4>
                <a class="edit-description{{#if editDescription}} active{{/if}}" data-action="editDescription"><i
                        class="fas fa-feather"></i></a>

                {{#unless editDescription}}
                <div class="description-viewer flexcol">
                    <span class="flavor" aria-placeholder="Flavor Text">{{system.info.flavor}}</span>
                    <hr class="ampersand">
                    <span class="description" aria-placeholder="Description">{{ system.info.description }}</span>
                </div>
                {{else}}
                <div class="description-editor flexcol">
                    <div class="textbox textbox-half">
                        <h3 class="icon">
                            <i class="fa-solid fa-quote-left"></i>
                            <span>{{localize 'ldnd5e.unit.flavor'}}</span>
                        </h3>
                        <textarea class="untext" name="system.info.flavor">{{ system.info.flavor }}</textarea>
                    </div>
                    <div class="textbox textbox-half">
                        <h3 class="icon">
                            <i class="fa-solid fa-quote-left"></i>
                            <span>{{localize 'ldnd5e.unit.description'}}</span>
                        </h3>
                        <textarea class="untext" name="system.info.description">{{ system.info.description }}</textarea>
                    </div>
                </div>
                {{/unless}}
            </div>

        </div>

    </div>

    <div class="middle main-content flexrow">

        <section class="basic-skills">
            <filigree-box class="skills flexcol">
                <h3>
                    <i class="ra ra-battered-axe" inert></i>
                    <span class="roboto-upper">{{localize 'ldnd5e.unit.combat'}}</span>
                </h3>
                <ul class="skills-list">
                    {{#each skills as |skill|}}
                    <li data-key="{{skill.key}}" class="skill">
                        <a class="name rollable" data-action="roll" data-type="skill"><i
                                class="{{skill.icon}}"></i>{{skill.label}}</a>
                        <div class="bonus">
                            <span class="sign">{{skill.sign}}</span>
                            {{skill.mod}}
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </filigree-box>

            <filigree-box class="saves flexcol">
                <h3>
                    <i class="fas fa-shield-heart" inert></i>
                    <span class="roboto-upper">{{ localize "DND5E.ClassSaves" }}</span>
                </h3>
                <ul class="saves-list">
                    <li data-ability="dsp" class="save">
                        <a class="name rollable" data-action="roll" data-type="save"><i
                                class="{{skills.dsp.icon}}"></i>{{skills.dsp.label}}</a>
                        <div class="bonus">
                            <span class="sign">{{skills.dsp.save.sign}}</span>
                            {{skills.dsp.save.mod}}
                        </div>
                    </li>

                </ul>

            </filigree-box>
        </section>

        <section class="items-list tatics-list" data-unit-list="tatics">
            <div class="items-section card" data-column-min-width="250">
                <div class="items-header header">
                    <h3 class="item-name flexrow">{{localize 'ldnd5e.unit.tatics'}}</h3>

                    {{#unless isMedical}}
                    <div class="item-detail item-attribute prep" data-tooltip="ldnd5e.tatics.prep">
                        <i class="fas fa-flask"></i>
                    </div>
                    <div class="item-detail item-attribute surp" data-tooltip="ldnd5e.tatics.surp">
                        <i class="fas fa-triangle-exclamation"></i>
                    </div>
                    <div class="item-detail item-attribute reac" data-tooltip="ldnd5e.tatics.reac">
                        <i class="fas fa-arrows-rotate"></i>
                    </div>
                    <div class="item-detail item-attribute pers" data-tooltip="ldnd5e.tatics.pers">
                        <i class="fas fa-infinity"></i>
                    </div>
                    {{else}}
                    <div class="item-detail item-attribute main-recovery" data-tooltip="ldnd5e.tatics.mainRecovery">
                        <i class="fas fa-house-medical-flag"></i>
                    </div>
                    {{/unless}}
                    <div class="item-detail item-controls"></div>
                </div>

                <ol class="item-list unlist">
                    {{#each tatics as |tatic|}}
                    <li class="item tatic" data-uuid="{{ tatic.uuid }}" data-item-id="{{ tatic.id }}"
                        data-entry-id="{{ tatic.id }}" data-item-name="{{ tatic.name }}">
                        {{!-- Row Summary --}}
                        <div class="item-row draggable">
                            {{!-- Item Name --}}
                            <div class="item-name item-action item-tooltip" role="button" data-action="useTatic"
                                data-type="tatic" aria-label="{{ tatic.name }}">
                                <div class="image-container">
                                    <img class="item-image gold-icon" src="{{ tatic.img }}" alt="{{ tatic.name }}"
                                        draggable="false">
                                </div>
                                <div class="name name-stacked">
                                    <span class="title">{{ tatic.name }}</span>
                                </div>
                            </div>
                            {{#unless @root.isMedical}}
                            <div class="item-detail item-attribute prep">
                                {{#if tatic.system.attributes.prep}}<i
                                    class="fa-solid fa-check"></i>{{else}}&mdash;{{/if}}
                            </div>
                            <div class="item-detail item-attribute surp">
                                {{#if tatic.system.attributes.surp}}<i
                                    class="fa-solid fa-check"></i>{{else}}&mdash;{{/if}}
                            </div>
                            <div class="item-detail item-attribute reac">
                                {{#if tatic.system.attributes.reac}}<i
                                    class="fa-solid fa-check"></i>{{else}}&mdash;{{/if}}
                            </div>
                            <div class="item-detail item-attribute pers">
                                {{#if tatic.system.attributes.pers}}<i
                                    class="fa-solid fa-check"></i>{{else}}&mdash;{{/if}}
                            </div>
                            {{else}}
                            <div class="item-detail item-attribute main-recovery">
                                {{#if tatic.system.mainRecovery}}<i class="fa-solid fa-check"></i>{{else}}&mdash;{{/if}}
                            </div>
                            {{/unless}}
                            <div class="item-detail item-controls always-visible">
                                <button type="button"
                                    class="config-button item-control  item-action unbutton trainning{{#if tatic.system.trainning}} active{{/if}}"
                                    data-action="toggleTraining" data-tooltip="ldnd5e.unit.isTrainning"
                                    aria-label="{{ localize 'ldnd5e.unit.isTrainning' }}">
                                    <i class="ra ra-archery-target" inert></i>
                                </button>
                                <button type="button"
                                    class="config-button unbutton item-control item-action always-interactive"
                                    data-action="showTatic" data-tooltip="ldnd5e.unit.editTatic" data-edit-item
                                    aria-label="{{ localize 'ldnd5e.unit.editTatic' }}">
                                    <i class="fas fa-pen-to-square" inert></i>
                                </button>
                                <button type="button"
                                    class="config-button item-control unbutton item-action always-interactive"
                                    data-action="removeTatic" data-tooltip="ldnd5e.unit.removeTatic"
                                    aria-label="{{ localize 'ldnd5e.unit.removeTatic' }}">
                                    <i class="fas fa-trash" inert></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
    </div>
</div>