<header class="sheet-header">
    {{!-- Portrait & Vitals --}}
    <div class="left">

        {{!-- Portrait --}}
        <div class="portrait">

            <img src="{{ portrait.src }}" alt="{{ actor.name }}" {{~#if (and editable portrait.path)}}
                data-action="editImage" data-edit="{{ portrait.path }}" {{~else}} data-action="showArtwork" {{/if}}>

            {{!-- Starving Badge --}}
            {{#if isStarving}}
            {{#unless hasUrbanSource}}
            <div class="right level-badge starving-badge badge" data-tooltip="ldnd5e.supplies.starving"
                data-tooltip-direction="DOWN">
                <i class="fas fa-utensils"></i>
            </div>
            {{else}}
            <div class="right level-badge urban-badge badge" data-tooltip="ldnd5e.supplies.starving"
                data-tooltip-direction="DOWN">
                <img src="{{urbanIcon}}">
            </div>
            {{/unless}}
            {{/if}}

        </div>

        {{!-- Vitals --}}
        <div class="bottom vitals">

            {{!-- Supplies Minimum --}}
            <div class="left ac supplies-min">

                <div class="ac-badge badge" aria-label="{{ localize 'ldnd5e.army.supplies.min' }}">
                    <div data-attribution="supplies.min" data-attribution-caption="ldnd5e.army.supplies.min"
                        data-tooltip-direction="DOWN">
                        {{ system.supplies.needs }}
                    </div>
                </div>

            </div>

            {{!-- Supplies --}}
            <div class="right">

                {{!-- Supplies --}}                
                {{#with system.supplies}}
                <div class="meter supplies sectioned" {{#if @root.hasUrbanSource}}hidden{{/if}}>
                    <div class="progress supplies{{#if @root.isStarving}} starving{{/if}}" role="meter"
                        aria-valuemin="0" aria-valuenow="{{ total }}" aria-valuemax="{{ max }}"
                        style="--bar-percentage: {{ pct }}%">
                        <div class="label">
                            <span class="value">{{ total }}</span>
                            {{#if @root.editable}}
                            <button type="button" class="config-button unbutton" data-action="showConfiguration"
                                data-config="supplies" data-tooltip="ldnd5e.supplies.config"
                                aria-label="{{ localize 'DND5E.HitPointsConfig' }}">
                                <i class="fas fa-cog" inert></i>
                            </button>
                            {{/if}}
                        </div>
                        <input type="text" name="system.supplies.total" data-dtype="Number" placeholder="0"
                            value="{{ total }}" data-max="{{ max }}" inputmode="numeric" pattern="^[+=\-]?\d*" hidden>
                    </div>
                </div>
                {{/with}}
                {{#with system.supplies.reserve}}
                <div class="meter reserve sectioned" {{#unless @root.hasUrbanSource}}hidden{{/unless}}>
                    <div class="progress reserve" role="meter"
                        aria-valuemin="0" aria-valuenow="{{ value }}" aria-valuemax="{{ max }}"
                        style="--bar-percentage: {{ pct }}%">
                        <div class="label">
                            <span class="value">{{ value }}</span>
                            {{#if @root.editable}}
                            <button type="button" class="config-button unbutton" data-action="showConfiguration"
                                data-config="supplies" data-tooltip="ldnd5e.supplies.config"
                                aria-label="{{ localize 'DND5E.HitPointsConfig' }}">
                                <i class="fas fa-cog" inert></i>
                            </button>
                            {{/if}}
                        </div>
                        <input type="text" name="system.supplies.reserve.value" data-dtype="Number" placeholder="0"
                            value="{{ value }}" inputmode="numeric" pattern="^[+=\-]?\d*" hidden>
                    </div>
                </div>
                {{/with}}

                <div class="meter sectioned attribute-title">
                    <span>{{ localize 'ldnd5e.army.supplies' }}</span>
                </div>

            </div>

        </div>

    </div>

    {{!-- Other Statistics --}}
    <div class="right stats">

        <div class="top">

            {{!-- Name, Organization & Type --}}
            <div class="left">

                {{!-- Name --}}
                {{#if editable}}
                <input type="text" name="name" class="document-name uninput" value="{{ actor._source.name }}">
                {{else}}
                <div class="document-name">{{ actor.name }}</div>
                {{/if}}

                {{!-- Organization, Size & Type --}}
                <ul class="labels unlist">

                    {{!-- Organization --}}
                    <li class="creature-alignment organization">
                        {{#if editable}}
                        <input type="text" name="system.info.org" value="{{ system.info.org }}"
                            placeholder="{{ localize 'ldnd5e.army.org' }}">
                        {{else}}
                        <span>{{ system.info.org }}</span>
                        {{/if}}
                    </li>

                    {{!-- Size --}}
                    <li class="creature-size">
                        {{#if editable}}
                        {{#debug this}}{{/debug}}
                        <select class="unselect" name="system.info.size">
                            {{ selectOptions CONFIG.actorSizes selected=system.info.size labelAttr="label" }}
                        </select>
                        {{else}}
                        <span>{{ lookup (lookup CONFIG.actorSizes system.info.size) "label" }}</span>
                        {{/if}}
                    </li>

                </ul>

            </div>

            {{!-- Resting, Special Traits, & Proficiency --}}
            <div class="right">

                <div class="right cr-badge prestige-badge badge" data-tooltip="ldnd5e.army.prestige"
                    data-tooltip-direction="DOWN">
                    {{#if editable}}
                    <input type="text" class="uninput" name="system.prestige.bonus" value="{{ system.prestige.bonus }}"
                        placeholder="10">
                    {{else}}
                    {{ system.prestige.value }}
                    {{/if}}
                </div>

                <div class="banner">{{system.prestige.mod}}</div>

            </div>

        </div>

        <div class="middle">

            {{!-- Commander --}}
            <div class="commander">
                <div class="commander-header">{{localize 'ldnd5e.army.commander'}}</div>
                <div class="commander-info">
                    {{#if hasCommander}}
                    <img class="commander-portrait" role="button" aria-label="{{commander.name}}"
                        src="{{commander.img}}"></img>
                    <h4>{{commander.name}}</h4>
                     {{#if editable}}
                    <button type="button" class="config-button unbutton" data-action="removeCommander"
                        data-tooltip="ldnd5e.army.removeCommander"
                        aria-label="{{ localize 'ldnd5e.army.removeCommander' }}">
                        <i class="fas fa-trash" inert></i>
                    </button>
                    {{/if}}
                    {{else}}
                    <span class="empty">{{localize 'ldnd5e.army.noCommander'}}</span>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>
</header>