<section class="sheet-header">
    {{!-- Image --}}
    <div class="left">

        <img class="item-image" src="{{portrait.src}}" alt="{{ name.value }}" {{~#if (and editable portrait.path)}}
            data-action="editImage" data-edit="{{ portrait.path }}" {{else}} data-action="showArtwork" {{/if}}>

    </div>

    {{!-- Name & Attributes --}}
    <div class="middle identity-info">

        {{!-- Name --}}
        {{#if editable}}
        <input type="text" name="name" class="document-name uninput" value="{{ item._source.name }}">
        {{else}}
        <div class="document-name">Davi Lucas</div>
        {{/if}}

        {{!-- Attributes --}}
        <ul class="attributes unlist flexrow">
            <li class="attribute-item" data-tooltip="ldnd5e.tatics.prep">
                <button class="attribute prep {{#unless system.attributes.prep}}active{{/unless}}"
                    data-action="toggleAttr" data-attr="prep">
                    <i class="fas fa-flask"></i>
                </button>
            </li>
            <li class="attribute-item" data-tooltip="ldnd5e.tatics.surp">
                <button class="attribute surp {{#unless system.attributes.surp}}active{{/unless}}"
                    data-action="toggleAttr" data-attr="surp">
                    <i class="fas fa-triangle-exclamation"></i>
                </button>
            </li>
            <li class="attribute-item" data-tooltip="ldnd5e.tatics.reac">
                <button class="attribute reac {{#unless system.attributes.reac}}active{{/unless}}"
                    data-action="toggleAttr" data-attr="reac">
                    <i class="fas fa-arrows-rotate"></i>
                </button>
            </li>
            <li class="attribute-item" data-tooltip="ldnd5e.tatics.pers">
                <button class="attribute pers {{#unless system.attributes.pers}}active{{/unless}}"
                    data-action="toggleAttr" data-attr="pers">
                    <i class="fas fa-infinity"></i>
                </button>
            </li>
        </ul>

    </div>

    {{!-- CR, Price --}}
    <div class="right common-fields ">

        {{!-- CR --}}
        <div class="cr">
            {{#if editable}}
            <input type="number" name="system.info.cr" class="uninput" value="{{ system.info.cr }}">
            {{else}}
            {{#repeat system.info.cr}}
            <i class="ra ra-target-arrows"></i>
            {{/repeat}}
            {{/if}}
        </div>

        {{!-- Price --}}
        <div class="price">
            {{#if editable}}
            <input type="text" name="system.info.price.value" class="price uninput"
                value="{{ system.info.price.value }}">
            <select class="unselect" name="system.info.price.denomination">
                {{ selectOptions CONFIG.currencies selected=system.info.price.denomination
                labelAttr="abbreviation" }}
            </select>
            {{else}}
            <span class="value">{{ dnd5e-numberFormat system.info.price.value }}</span>
            <i class="currency {{ system.info.price.denomination }}"
                aria-label="{{ lookup (lookup CONFIG.currencies system.info.price.denomination) 'label' }}"></i>
            {{/if}}
        </div>

    </div>

</section>