<fieldset>
    <legend>{{ localize "ldnd5e.tatics.configuration" }}</legend>
    <div class="form-group">
        <label>{{localize 'ldnd5e.tatics.activityType'}}</label>
        <div class="form-fields">
            <select name="config.type">
                {{ selectOptions activityTypes labelAttr="label" valueAttr="value" selected=data.type }}
            </select>
        </div>
    </div>

    <fieldset class="unfieldset">
        <div class="form-group split-group full-width card">
            <div class="form-fields field-groups">
                <div class="field-group">
                    <div class="form-group label-top">
                        <label>{{localize 'DND5E.Number'}}</label>
                        <div class="form-fields">
                            <input type="number" name="config.number"
                                value="{{#if isEdit}}{{data.number}}{{else}}1{{/if}}" min="0" step="1" placeholder="1">
                        </div>
                    </div>

                    <div class="form-group label-top">
                        <label>{{localize 'DND5E.Die'}}</label>
                        <div class="form-fields">
                            <select name="config.die" data-dtype="Number">
                                {{ selectOptions dice labelAttr="label" valueAttr="value" selected=data.die }}
                            </select>
                        </div>
                    </div>

                    <div class="form-group label-top">
                        <label>{{localize 'DND5E.Bonus'}}</label>
                        <div class="form-fields">
                            <input type="text" name="config.bonus" value="{{data.bonus}}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group main-roll">
        <label>{{localize 'ldnd5e.unit.isMainRoll'}}</label>
        <dnd5e-checkbox name="config.mainRoll" tabindex="0" {{#if data.mainRoll}}checked{{/if}}></dnd5e-checkbox>
    </div>
</fieldset>