<section>
    {{#unless noTatics}}     
    {{#each recoveryTatics}}
    <div class="activity card" data-activity-id="{{ id }}">

        {{!-- Icon --}}
        <div class="icon {{#if img.svg}}svg{{/if}}">
            <dnd5e-icon src="{{ img.src }}"></dnd5e-icon>
        </div>

        {{!-- Name --}}
        <div class="name" data-action="editDocument">{{ name }}</div>

    </div>
    {{/each}}
    {{else}}
        <p>{{ localize "ldnd5e.tatics.noTatics" }}</p>
    {{/unless}}
</section>