<fieldset class="affinity">
    <legend>{{localize 'ldnd5e.battle.affinity'}}</legend>

    <div class="classes-group">
        {{#each affinities as |a|}}
        <div class="form-group">
            <div class="name">
                <img class="gold-icon" src="{{a.img}}">
                <label class="class-name">{{a.name}}</label>
            </div>
            

            <div class="form-fields">
                
                <div class="form-group category">
                    <label>{{localize 'ldnd5e.unit.category'}}</label>
                    <select name="{{a.identifier}}.category">
                        {{ selectOptions @root.categories labelAttr="label" valueAttr="value" blank=true selected=a.category }}
                    </select>
                </div>

                <div class="form-group abilities">
                    <ol class="item-list unlist">
                        {{#each a.abilities as |ability|}}
                        <li class="item ability" data-key="{{ability.key}}">
                            <div class="item-row">
                                <div class="item-detail hidden-width">
                                    <div class="stacked">
                                        <span class="ability">{{ability.key}}</span>
                                        <dnd5e-checkbox class="value" name="{{../identifier}}.abilities.{{ability.key}}.value" tabindex="0" {{#if ability.value}} checked{{/if}}></dnd5e-checkbox>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</fieldset>