<form>
    <div class="form-group">
        <label>{{ localize "ldnd5e.dlControlItemLabel" }}</label>
        <input type="text" name="name" value="{{item.name}}" disabled/>
    </div>
    <div class="form-group">
        <label>{{ localize "ldnd5e.dlControlDamageType" }}</label>
        <input type="text" name="damageType" value="{{ damageType }}" disabled/>
    </div>
    <div class="form-group">
        <label>{{ localize "ldnd5e.dlControlRepairLvl" }}: <span id="repairLvlValue"></span></label>
        <input name="repairLvlSlider" type="range" min="0" max="{{item.system.armor.RealDL}}" value="0" id="repairLvlControl">
    </div>
    <div class="form-group">
        <label>{{ localize "ldnd5e.frControlItemPrice"}}</label>
        <input type="number" name="repairLvlPrice" id="repairLvlPrice" data-price="{{price}}" data-fee="{{fee}}" disabled/>
    </div>
    <div class="dialog-buttons-title flexrow">
        <div class="dialog-button-header">
            <label>{{ localize "ldnd5e.dlControlDamageBtn" }}</label>
        </div>
        <div class="dialog-button-header repair-click" id="repairHeader">
            <label>{{ localize "ldnd5e.dlControlRepairsBtn" }}</label>
            <i class="fas fa-hammer not-smith" title="{{repairsToolTips.notSmith}}" id="smithIcon" data-smith-tooltip="{{repairsToolTips.smith}}" data-not-smith-tooltip="{{repairsToolTips.notSmith}}"></i>
        </div>
    </div>
</form>

<script>
    var slider = document.getElementById("repairLvlControl");
    var output = document.getElementById("repairLvlValue");

    var priceInput = document.getElementById("repairLvlPrice");
    priceInput.value = 0;

    var price = priceInput.getAttribute('data-price');
    var fee = priceInput.getAttribute('data-fee');

    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
        priceInput.value = price * fee * slider.value;        
    }

    var repairHeader = document.getElementById("repairHeader");
    repairHeader.onclick = function() {
        var smithIcon = document.getElementById("smithIcon");
        smithIcon.classList.toggle('not-smith');
        smithIcon.setAttribute("title", (smithIcon.classList.contains('not-smith') ? smithIcon.dataset.notSmithTooltip : smithIcon.dataset.smithTooltip));
    }
</script>