<div class="ldnd5e chat-card new-dl-card" data-actor-id="{{owner._id}}" data-item-id="{{item._id}}">
    <header class="ad-card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
        <div class="ac-display" title="{{localize 'ldnd5e.dlControlRepairDC'}}">{{repairDC}}</div>
    </header>

    <div class="damage-content">
        {{info}}
    </div> 
</div>
